.math {
    font-size: 1.3em;
}

#blog-header  {
    max-width: 600px;
    text-align: center;
}

.blog-main {
    max-width: 700px;
    margin: 0 15px;
}

.common-shader {
    display: none;
}

.gl-ide {
    margin: 15px 0;
    height: 265px;
}

.gl-ide canvas.gl-canvas {
    position: absolute;
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    padding-bottom: 65px;
    /* image should have 5px 'margin' while fitting into padding-bottom */
    background-image: url(/static/images/plus_gradient_f_operator.svg);
    background-position: bottom 5px center;
    background-repeat: no-repeat;
    background-size: 55px auto;
}

.gl-ide pre {
    box-sizing: border-box;
    max-width: 100%;
    position: absolute;
    max-height: 265px;
    margin-left: 215px;
    margin-right: 15px;
}

// ­­­­ Login styles

.form-group {
    margin-bottom: 0px;
}

.form-login {
    max-width:330px;
    padding: 15px;
    margin: 0 auto;}


.form-login .form-login-heading {
    margin-bottom: 10px;
}

.form-login .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login #inputUsername {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login #inputPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
