{% extends "layout.html" %}
{% block title %}Linear Elasticity{% endblock %}
{% block body %}
<h1>Linear Elasticity in JS using Finite Elements</h1>
<svg id="triangulated" height="300" width="300"
     xmlns="http://www.w3.org/2000/svg">
</svg>
<p>Body text. $$ f_i = \langle f, \phi_i \rangle = \int_0^1 f \phi_i \ dx $$ Here is more text.</p>
{% if debug %}
<script type="text/javascript"
	src="http://localhost:8080/assets/bundle.js">
</script>
{% else %}
<script type="text/javascript"
	src="assets/bundle.js">
</script>
{% endif %}
{% endblock %}
